.d1{
    width: 900px;
    margin: auto;
    text-align:  center;
}

.table1{
    width: 900px;
    margin: auto;
}

.col1 {
    width: 33.33%; /* Define a largura da primeira coluna como 1/3 */
  }
  
  .col2 {
    width: 66.67%; /* Define a largura da segunda coluna como 2/3 */
  }

.respostas1{
    text-align: left;
    padding-left: 2%;
    padding-bottom: 2%;
}

.scroll-container {
    width: 650px; /* Largura máxima do contêiner */
    height: 300px; /* Altura máxima do contêiner */
    overflow-y: auto; /* Rolagem vertical quando o conteúdo exceder a altura */
    overflow-x: hidden; /* Oculta a rolagem horizontal (opcional) */
    border: 1px solid #ccc; /* Adiciona uma borda para visualização */
  }